version: "3.8"

services:
  postgres:
    image: postgres
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
  web:
    build: 
      context: ./src  
      dockerfile: Dockerfile
    command: python manage.py runserver 8000
    ports:
      - "8000:8000"
    depends_on:
      - postgres
    