{% extends 'base.html' %}
{% load static %}

{% block title %} Create collection {% endblock %}
{% block content %}
    <h1>Add collection</h1>
    <form action="" method="post" id="collection_form">{% csrf_token %}
        <div class="row">
            <div class="col s12">
                <label for="id_name">{{ form.name.label }}</label>
                {{ form.name}}
            </div>
            <div class="col s6">
                <label for="id_start_date">{{ form.start_date.label }}</label>
                {{ form.start_date }}
            </div>
            <div class="col s6">
                <label for="id_end_date">{{ form.end_date.label }}</label>
                {{ form.end_date }}
            </div>
            <input type="text" name="collection_relations" id="collection_relations" />
        </div>

        <div id="output_container"></div>
        <div id="relational_form" class="row hide">
            <div class="col s3">
                <input name="collection_itemform['date'][]" type="hidden" class="datefield"/>
                <div class="datefield_display"></div>
            </div>
            <div class="col s5 autocomplete ac-input">
                <input name="collection_itemform['entity'][]" data-beloworigin="true" class="entity" type="text" placeholder="Search for entity..." />
            </div>
            <div class="col s4">
                <textarea name="collection_itemform['note'][]" class="note" placeholder="Enter an optional note"></textarea>
            </div>
        </div>
        <input type="submit" value="Save" class="btn"/>
    </form>

{% endblock %}

{% block scripts_bottom %}
    <script type="text/javascript" src="{% static "js/class.js" %}"></script>
    <script type="text/javascript" src="{% static "js/lib/date_util.js" %}"></script>
    <script type="text/javascript" src="{% static "js/vendor/jquery.materialize-autocomplete.js" %}"></script>
    <script type="text/javascript" src="{% static "js/catalog/collection_form_handlers.js" %}"></script>
{% endblock %}}