.meta-content,
span.badge.meta-title {
    font-size: 0.75rem;
    color: #cfcfcf;
}

span.badge.meta-title {
    background: #8a8a8a;
}

.btn.btn-small {
    font-size:0.75rem;
    height: 25px;
    line-height: 25px;
    padding: 0 0.5rem;
}

/**
Row:
- padding en margins op nul
-
 */


.collection .collection-item.weekview,
.collection.with-header .collection-item.weekview {
    padding: 0px;
    margin: 0.3rem 0;
}
.collection .collection-item.weekview .datefield,
.collection-item.weekview .datefield {
    padding: 10px;
    text-align: center;
    font-weight:bold;
    font-variant: all-small-caps;
}

.collection-item.weekview .item-content,
.collection-item.weekview .meta-content{
    padding: 10px 30px;
    width: 100%;
}

.collection-item.weekview .item-content{
    margin-right: 0px;
}
.collection-item.weekview .meta-content{
    color: #8a8a8a;
    font-size: 0.75rem;
    font-style: italic;
    width: 30%;
}
/**
 * Collection form
 */
div.autocomplete {
    display: -ms-flexbox;
    display: flex;
}

div.autocomplete .ac-dropdown .ac-hover {
    background: #eee;
}
div.autocomplete.ac-input {
    -ms-flex: 1;
    flex: 1;
    min-width: 150px;
    position: relative;
    padding-top: 0.6rem;
}
div.autocomplete.ac-input input {
    height: 2.4rem;
}
div.autocomplete.ac-input ul {
    position: absolute;
    top: 45px;
    left: 11.25px;
    opacity: 1;
    display: none;
}